<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        {% block meta %}
            {% block meta_title %}
                <title>Welcome!</title>
            {% endblock %}

            {% block meta_keywords %}
                <meta name="keywords" content="test">
            {% endblock %}
            {% block meta_description %}
                <meta name="description" content="test">
            {% endblock %}
        {% endblock %}
        {% block stylesheets %}
            {% stylesheets 'css/frontend/*'  %}
                <link rel="stylesheet"  type="text/css" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link href="images/frontend/favicon.png" rel="shortcut icon">
        {% block javascripts %}
            {% javascripts 'js/frontend/*' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body class="frontend">
    </noscript>  
        {% block body %}{% endblock %}
    </body>
</html>
