<nav>
    <ul>
        <li>
            <a class="cl-effect-21" href="#"><img src="/images/frontend/icon_consultation.png" /><span class="mini-img">REQUEST A CONSULIDATION</span></a>
        </li>
        <li>
            <a href="#"><img src="/images/frontend/icon_chat.png" /><span class="mini-img">LIVE CHAT</span></a>
        </li>
        <li>
            <a href="#"><img src="/images/frontend/icon_login.png" /><span class="mini-img">LOG IN</span></a>
        </li>
    </ul>
</nav>